@{
    ViewData["Title"] = "Home Page";
    Layout = null;
}

<div>
    <h1 style="width:100%; text-align: center;">
        Do not try and find the page. That’s impossible. Instead only try to realise the truth
    </h1>
    <div style="width:100%; text-align: center;">
        <img src="~/images/404.jpg" />
    </div>
    <h3 style="width:100%; text-align: center;">There is no page.</h3>
</div>
